ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--cor-secundaria);
}

li {
    float: left;
}

li:first-child {
    margin-left: 25px;
}

li a {
    display: block;
    color: #fff;
    padding: 15px 8px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #46a8a2;
}

li:last-child {
    float: right;
    margin-right: 25px;
}

.menu-logo {
    margin-top: 10px;
    margin-right: 10px; 
    max-height: 30px; 
    vertical-align: middle;
}

.search-box {
    float: right;
    margin-right: 25px;
    margin-left: 1055px;
    margin-top: 11px;
    margin-bottom: 11px;
    width: 250px;
    border-radius: 7px;
    border-color: var(--cor-secundaria);
    border-width: 2px;
    height: 35px;
    padding-inline: 10px;
    
  }
  