@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #1565C0; 
    --cor-secundaria: #4DB6AC;
}

.navbar-custom {
    background-color: var(--cor-secundaria); 
}

.navbar-custom .navbar-brand {
    color: var(--cor-primaria); 
    font-weight: 600;
}

.navbar-custom .nav-link {
    color:#fff; 
    font-weight: 500;
}

.navbar-custom .nav-item.active .nav-link {
    color:#fff; 
    font-weight: 500;
}

/* Logo*/
.navbar-custom .navbar-brand img {
    max-width: 100px; 
    max-height: 40px; 
    margin-left: 10px;
}

table.table>thead>tr th {
    background-color: #eee;
}

button.btn{
    min-width: 80px;
}

div.modal-dialog{
    max-width: 700px;
}

.titulo{
    color: var(--cor-primaria);
}

.btn-adicionar{
    background: var(--cor-primaria);
}

.btn-adicionar:hover {
    background: #0D47A1;
}

table.table>thead>tr th {   
    color: var(--cor-primaria);
    background-color: #eee;
}

.navbar-nav .nav-link i.fa-sign-out-alt {
    font-size: 24px; 
    color: #fff;
    margin-right: 10px;
}

.search-bar {
    margin-left: 850px;
    margin-right: 10px;
    width: 250px;
}

